{% extends 'base/base.html' %}
{% load static %}
{% block body_block %}

      <h1 align="right">הפיצות שלנו</h1>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-12">
        <a href="#">
        <div class="box-element">
          <img src="{{product.imageURL}}" alt="Pizza" class="thumbnail" align="right">
          <h5 class="product"><strong>{{ product.name }}</strong></h5>
          <hr>
          <p class="product">{{ product.description }}</p>
          <h6>₪{{ product.price|floatformat:0 }}</h6>
          <button data-product={{product.id}} data-action="add"
          class="btn btn-outline-secondary add-btn update-cart">הוסף לעגלה</button>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>

{% endblock %}
